---
import GameWheel from "../components/Wheel.astro";
import { items } from "../content/items.js";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="🤓 Facts">
    <p class="has-text-centered">
        You can never have too many facts! Here are some interesting ones to
        ponder during your break.
    </p>
</MainLayout>
