---
import GameWheel from "../components/Wheel.astro";
import MainLayout from "../layouts/MainLayout.astro";
import items from "../content/online-games.json";
---

<MainLayout title="🎮 Online Games" pathname={Astro.url.pathname}>
    <p class="has-text-centered">
        Feeling bored? Take a break and play some fun online games that we made.
    </p>
    <GameWheel items={items} />
</MainLayout>
