---
import Wheel from "../components/Wheel.astro";
import { items } from "../content/items.js";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="🧠 No Brainer">
    <div class="has-text-centered">
        <h2 class="is-size-3 py-3">Take a brain break!</h2>
        <img src="penguin-sm.gif" alt="A dancing penguin" />
        <p class="py-3">
            It's important to take regular breaks during work or study sessions.
        </p>
        <p class="py-3">
            Sometimes, it can be hard to decide what to do during these breaks.
            That's where the Brain Break site comes in!
        </p>
    </div>
</MainLayout>
