---
import GameWheel from "../components/Wheel.astro";
import { items } from "../content/items.js";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="😂 Jokes">
    <p class="has-text-centered">
        Take a break and have a laugh with our collection of jokes!
    </p>
</MainLayout>
