---
import OutdoorWheel from "../components/OutdoorWheel.astro";
import items from "../content/outdoor.json";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="🌳 Outdoor Games" pathname={Astro.url.pathname}>
    <p class="has-text-centered">
        It's important to get outside and enjoy some fresh air during your
        breaks. Here are some fun outdoor games to try!
    </p>
    <p class="has-text-centered">
        Whether you're looking for a quick solo activity or a fun group game,
        we've got you covered.
    </p>
    <OutdoorWheel items={items} />
</MainLayout>
